body {
  font-family: "Avenir Next";
}

.header {
    background-color: #000;
	width:100%;
	height:50px;
}

.header h1{
	font-size: 20px;
	color:#fff;
	padding :10px;
}
.content{
	
	width: 100%;
	height:500px;
}
.footer{
	 background-color: #000;
	width:100%;
	height:50px;
}
.sidebar{
 width:250px;
 float:left;

}
.sidebarlist{
		list-style: none;
}
.sidebarlist li{
	margin-left: -27px;
}
.sidebarlist li a{
	 display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.sidebarlist li a:hover {
    background-color: #555;
    color: white;
}
.sidemenu{
	width:700px;
	float:left;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000;
    color: white;
}
/*.li{
	list-style: none;
}*/


/*.footer{
	background:#280906;

	height: 40px;
	
	background-position: 20% 70%;
}
.footer-logo{
	
	color:#fff;
	font-family:serif;
	font-size:25px;
	float:right;
}*/
/*.main{
	background-color: #fff;
	height:50px;

}
.menu li{
	float: left;
	list-style: none;
	display:block;
    padding: 6px 12px;
}
.menu-wrapper
{
	float:right;
}
.nav, .sub
{
	font-family: Arial, Helvetica, sans-serif; 
	list-style: none;
	margin:0;
	padding: 0;
}
.nav li
{
	background:#CDA861;
	height: 40%;
	*/
	
	/*margin-left:auto;
	margin-right:auto;
	width:10em;

}*/
/*.nav li a
{
	display: block;
	text-decoration: none;
	color:#fff;
}
.nav li a:hover{
	background:#f00;
}
.nav > li {  
 border-right: 1px solid #f00;
 float: left;
 } 
 .content{
 	padding:200px;

 }
  .sub
 {
 	display: none;
 }
 .sub li
 {
  	border-top: 1px solid #f00;
 }
 
*/
 